---
const name = "Rini Kustiani";
const hobby = "Baca Buku";
const umur = 20 + 10;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- Header Start -->
		<header class="flex justify-between p-10">
			<img src="/Logo.png" alt="gambar">
			<div class="navbar text-slate-500 flex gap-10">
				<div class="hover:text-orange-500 hover:underline hover:font-medium">Beranda</div>
				<div class="hover:text-orange-500 hover:underline hover:font-medium">Blog</div> 
				<div class="hover:text-orange-500 hover:underline hover:font-medium">Resep</div>
				<div class="hover:text-orange-500 hover:underline hover:font-medium">Tentang Kami</div>
			</div>
		</header>
		<!-- Header End -->

		<!-- Hero Start -->
		<div class="hero">
			<div class="leftHero">
				<h1>Bagikan Pengalaman Makan dan Resepmu di Sini!</h1>
				<p>Ingin berbagi pengalaman makan atau resep makanan yang kamu sukai? Ayo bagikan kelezatan makananmu dengan para pengunjung lainnya!</p>
			</div>
			<div class="rightHero">
				<img src="/Hero_image.png" alt="gambar hero">
			</div>
		</div>
		<!-- Hero End -->
	</body>
</html>
