---

---
<header class="flex justify-between px-10 py-4 fixed w-full bg-white bg-transparent z-20 items-center">
    <div class="">
        <img class="w-4/5" src="/Logo.png" alt="gambar">
    </div>
    <div class="navbar text-slate-500 flex gap-4">
        <a class="hover:text-orange-500 hover:underline m-2" href="/">Beranda</a>
        <a class="hover:text-orange-500 hover:underline m-2" href="#">Blog</a>
        <a class="hover:text-orange-500 hover:underline m-2" href="/resep">Resep</a>
        <a class="hover:text-orange-500 hover:underline m-2" href="/about">Tentang Kami</a>
    </div>
</header>