---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dairy Food | Landing Page</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
      /* line debugging css
			* {
				outline: 1px solid #ff000080;
			} */
    </style>
  </head>
  <body>
    <!-- Header Start -->
    <Header />
    <div>
      <slot />
    </div>
    <!-- Header End -->
    <script>
      window.onscroll = function () {
        const header = document.querySelector("header");
        const fixedNav = header.offsetTop;

        if (window.scrollY > fixedNav) {
          header.classList.add("shadow-md", "backdrop-blur-md");
          header.style.transition = "all 0.2s ease";
        } else {
          header.classList.remove("shadow-md", "backdrop-blur-md");
          header.style.transition = "all 0.2s ease";
        }
      };
    </script>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
    <script src="../script/vanila-tilt.js"></script>
  </body>
</html>
